In [1]:
from pyspark.sql import SparkSession
import pyspark.pandas as ps
import pandas as pd
pd.options.mode.chained_assignment = None

c:\Users\super\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\pandas\__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [2]:
MergedSoFifaFbref = pd.read_csv('./data/MergedSoFifaFbref.csv',keep_default_na=False)
fbref_MergedMatchStats = pd.read_csv('./data/fbref_MergedMatchStats.csv',keep_default_na=False)

In [3]:
fbref_MergedMatchStats.head(1)

,home_Ast,home_Blocks,home_Carries,home_Carries_PrgC,home_CrdR,home_CrdY,home_GCA,home_Gls,home_Int,home_PK,...,away_offsides,away_possession,away_score,away_tackles,away_team,away_throw_ins,away_total_players_stats,away_touches44,away_xAG,away_xG
0,0,4,295,21,1,1,1,1,4,0,...,1,51%,4,15,West Ham United,12,14,621,0.9,3.1

In [6]:
fbref_MergedMatchStats.columns

Index(['home_Ast', 'home_Blocks', 'home_Carries', 'home_Carries_PrgC',
       'home_CrdR', 'home_CrdY', 'home_GCA', 'home_Gls', 'home_Int', 'home_PK',
       'home_PKatt', 'home_Passes_Att', 'home_Passes_Cmp',
       'home_Passes_CmpPercentage', 'home_Passes_PrgP', 'home_SCA', 'home_Sh',
       'home_SoT', 'home_Take_Ons_Att', 'home_Take_Ons_Succ', 'home_Tkl',
       'home_Touches21', 'home_aerials_won', 'home_captain', 'home_clearances',
       'home_corners', 'home_crosses', 'home_fbrefMatchId', 'home_formation',
       'home_fouls', 'home_goal_kicks', 'home_interceptions',
       'home_is_home_team', 'home_long_balls', 'home_manager', 'home_minutes',
       'home_npxG', 'home_offsides', 'home_possession', 'home_score',
       'home_tackles', 'home_team', 'home_throw_ins',
       'home_total_players_stats', 'home_touches44', 'home_xAG', 'home_xG',
       'away_Ast', 'away_Blocks', 'away_Carries', 'away_Carries_PrgC',
       'away_CrdR', 'away_CrdY', 'away_GCA', 'away_Gls', 'away_Int', 'away_PK',
       'away_PKatt', 'away_Passes_Att', 'away_Passes_Cmp',
       'away_Passes_CmpPercentage', 'away_Passes_PrgP', 'away_SCA', 'away_Sh',
       'away_SoT', 'away_Take_Ons_Att', 'away_Take_Ons_Succ', 'away_Tkl',
       'away_Touches21', 'away_aerials_won', 'away_captain', 'away_clearances',
       'away_corners', 'away_crosses', 'away_fbrefMatchId', 'away_formation',
       'away_fouls', 'away_goal_kicks', 'away_interceptions',
       'away_is_home_team', 'away_long_balls', 'away_manager', 'away_minutes',
       'away_npxG', 'away_offsides', 'away_possession', 'away_score',
       'away_tackles', 'away_team', 'away_throw_ins',
       'away_total_players_stats', 'away_touches44', 'away_xAG', 'away_xG'],
      dtype='object')

In [7]:
def MergeMatchStatsSoFifa(MergedSoFifaFbref,fbref_MergedMatchStats):
    columns_MergeMatchStatsSoFifa = fbref_MergedMatchStats.columns.values.tolist()
    columns_MergeMatchStatsSoFifa.extend(['home_attack_rating','home_mid_rating','home_defend_rating','away_attack_rating','away_mid_rating','away_defend_rating'])
    df_MergeMatchStatsSoFifa = pd.DataFrame(columns=columns_MergeMatchStatsSoFifa)
    attack_line = ["LS", "ST", "RS","LW", "LF", "CF", "RF", "RW"]
    mid_line = ["LAM", "CAM", "RAM","LM", "LCM", "CM", "RCM", "RM","LDM", "CDM", "RDM"]
    defend_line = ["LB", "LCB", "CB", "RCB", "RB","LWB","RWB"]

    # for i in range(0,len(fbref_MergedMatchStats)):
    for i in range(0,10):
        matchStat = fbref_MergedMatchStats.iloc[i]
        matchStat_row = fbref_MergedMatchStats.loc[i:i]
        display(matchStat_row)
        home_squad = MergedSoFifaFbref.loc[(MergedSoFifaFbref['fbrefMatchId']==matchStat['home_fbrefMatchId']) & (MergedSoFifaFbref['team']==matchStat['home_team'])]
        away_squad = MergedSoFifaFbref.loc[(MergedSoFifaFbref['fbrefMatchId']==matchStat['away_fbrefMatchId']) & (MergedSoFifaFbref['team']==matchStat['away_team'])]
        home_attack_rating = []
        home_mid_rating = []
        home_defend_rating = []
        away_attack_rating = []
        away_mid_rating = []
        away_defend_rating = []
        for i in range (0,len(home_squad)):
            player = home_squad.iloc[i]
            all_positions = player['all_positions']
            position = all_positions.split(' ')[0]
            if position in attack_line:
                home_attack_rating.append(player['overall_rating'])
            elif position in mid_line:
                home_mid_rating.append(player['overall_rating'])
            elif position in defend_line:
                home_defend_rating.append(player['overall_rating'])
        
        for i in range(0,len(away_squad)):
            player = away_squad.iloc[i]
            all_positions = player['all_positions']
            position = all_positions.split(' ')[0]
            if position in attack_line:
                away_attack_rating.append(player['overall_rating'])
            elif position in mid_line:
                away_mid_rating.append(player['overall_rating'])
            elif position in defend_line:
                away_defend_rating.append(player['overall_rating'])
        home_attack_rating = list(map(int,home_attack_rating))
        home_mid_rating = list(map(int,home_mid_rating))
        home_defend_rating = list(map(int,home_defend_rating))
        away_attack_rating = list(map(int,away_attack_rating))
        away_mid_rating = list(map(int,away_mid_rating))
        away_defend_rating = list(map(int,away_defend_rating))

        try:
            home_attack_rating = sum(home_attack_rating)/len(home_attack_rating)
            home_mid_rating = sum(home_mid_rating)/len(home_mid_rating)
            home_defend_rating = sum(home_defend_rating)/len(home_defend_rating)
            away_attack_rating = sum(away_attack_rating)/len(away_attack_rating)
            away_mid_rating = sum(away_mid_rating)/len(away_mid_rating)
            away_defend_rating = sum(away_defend_rating)/len(away_defend_rating)
        except Exception as e:
            print(e)
            continue
        
        matchStat_row.loc[:,'home_attack_rating'] = round(home_attack_rating,2) 
        matchStat_row.loc[:,'home_mid_rating'] = round(home_mid_rating,2) 
        matchStat_row.loc[:,'home_defend_rating'] = round(home_defend_rating,2)
        matchStat_row.loc[:,'away_attack_rating'] = round(away_attack_rating,2)
        matchStat_row.loc[:,'away_mid_rating'] = round(away_mid_rating,2)
        matchStat_row.loc[:,'away_defend_rating'] = round(away_defend_rating,2)
        
        df_MergeMatchStatsSoFifa = pd.concat([df_MergeMatchStatsSoFifa,matchStat_row],ignore_index=True)

    df_MergeMatchStatsSoFifa.to_csv('./data/MergeMatchStatsSoFifa.csv',index=False,encoding='utf-8-sig')

MergeMatchStatsSoFifa(MergedSoFifaFbref,fbref_MergedMatchStats)

,home_Ast,home_Blocks,home_Carries,home_Carries_PrgC,home_CrdR,home_CrdY,home_GCA,home_Gls,home_Int,home_PK,...,away_offsides,away_possession,away_score,away_tackles,away_team,away_throw_ins,away_total_players_stats,away_touches44,away_xAG,away_xG
0,0,4,295,21,1,1,1,1,4,0,...,1,51%,4,15,West Ham United,12,14,621,0.9,3.1

C:\Users\super\AppData\Local\Temp\ipykernel_5176\522449018.py:68: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_MergeMatchStatsSoFifa = pd.concat([df_MergeMatchStatsSoFifa,matchStat_row],ignore_index=True)

,home_Ast,home_Blocks,home_Carries,home_Carries_PrgC,home_CrdR,home_CrdY,home_GCA,home_Gls,home_Int,home_PK,...,away_offsides,away_possession,away_score,away_tackles,away_team,away_throw_ins,away_total_players_stats,away_touches44,away_xAG,away_xG
1,1,8,261,16,0,3,2,1,12,0,...,2,45%,2,6,Brighton & Hove Albion,18,16,482,1.0,1.2

division by zero

,home_Ast,home_Blocks,home_Carries,home_Carries_PrgC,home_CrdR,home_CrdY,home_GCA,home_Gls,home_Int,home_PK,...,away_offsides,away_possession,away_score,away_tackles,away_team,away_throw_ins,away_total_players_stats,away_touches44,away_xAG,away_xG
2,1,12,214,5,0,1,2,1,8,0,...,1,74%,3,12,Liverpool,30,16,949,0.5,0.6

division by zero

,home_Ast,home_Blocks,home_Carries,home_Carries_PrgC,home_CrdR,home_CrdY,home_GCA,home_Gls,home_Int,home_PK,...,away_offsides,away_possession,away_score,away_tackles,away_team,away_throw_ins,away_total_players_stats,away_touches44,away_xAG,away_xG
3,1,9,420,12,0,2,2,1,6,0,...,1,38%,1,13,Aston Villa,29,15,415,0.9,1.0

division by zero

,home_Ast,home_Blocks,home_Carries,home_Carries_PrgC,home_CrdR,home_CrdY,home_GCA,home_Gls,home_Int,home_PK,...,away_offsides,away_possession,away_score,away_tackles,away_team,away_throw_ins,away_total_players_stats,away_touches44,away_xAG,away_xG
4,1,9,501,17,0,2,4,2,8,0,...,1,38%,0,22,Wolverhampton Wanderers,29,16,523,0.2,0.2

division by zero

,home_Ast,home_Blocks,home_Carries,home_Carries_PrgC,home_CrdR,home_CrdY,home_GCA,home_Gls,home_Int,home_PK,...,away_offsides,away_possession,away_score,away_tackles,away_team,away_throw_ins,away_total_players_stats,away_touches44,away_xAG,away_xG
5,2,8,591,41,0,1,5,5,10,0,...,2,27%,0,14,Norwich City,13,16,390,1.0,1.0

division by zero

,home_Ast,home_Blocks,home_Carries,home_Carries_PrgC,home_CrdR,home_CrdY,home_GCA,home_Gls,home_Int,home_PK,...,away_offsides,away_possession,away_score,away_tackles,away_team,away_throw_ins,away_total_players_stats,away_touches44,away_xAG,away_xG
6,1,8,334,19,0,3,1,1,10,0,...,0,52%,1,26,Tottenham Hotspur,24,15,658,0.2,0.3

division by zero

,home_Ast,home_Blocks,home_Carries,home_Carries_PrgC,home_CrdR,home_CrdY,home_GCA,home_Gls,home_Int,home_PK,...,away_offsides,away_possession,away_score,away_tackles,away_team,away_throw_ins,away_total_players_stats,away_touches44,away_xAG,away_xG
7,2,16,381,24,0,3,6,3,7,1,...,3,50%,2,7,Watford,24,15,560,2.5,3.7

division by zero

,home_Ast,home_Blocks,home_Carries,home_Carries_PrgC,home_CrdR,home_CrdY,home_GCA,home_Gls,home_Int,home_PK,...,away_offsides,away_possession,away_score,away_tackles,away_team,away_throw_ins,away_total_players_stats,away_touches44,away_xAG,away_xG
8,1,8,520,39,0,0,4,3,7,1,...,2,28%,1,12,Sheffield United,9,14,395,1.4,1.4

division by zero

,home_Ast,home_Blocks,home_Carries,home_Carries_PrgC,home_CrdR,home_CrdY,home_GCA,home_Gls,home_Int,home_PK,...,away_offsides,away_possession,away_score,away_tackles,away_team,away_throw_ins,away_total_players_stats,away_touches44,away_xAG,away_xG
9,0,9,408,13,1,1,0,0,16,0,...,2,54%,2,21,Manchester United,17,15,639,0.3,1.3

division by zero