<h2>X</h2>

In [286]:
import numpy as np
import pandas as pd
from pulp import *

In [287]:
df = pd.read_csv('./data/sofifa_players_attr_modified.csv',encoding='utf-8-sig')
print(df.shape)
df.head(10)

(85427, 70)

,Acceleration,Age,Aggression,Agility,All_Positions,Attacking_Work_Rate,Balance,Ball_Control,Birthday,Body_Type,...,Team2_Position,Team2_Rating,Traits,Update_Date,Value,Vision,Volleys,Wage,Weak_Foot,Weight
0,56,19,55,41,CB,Low,47,26,2004-01-08,Lean (170-185),...,NaN,NaN,NaN,2023-09-22,€100K,34,26,€2K,3,80
1,60,19,53,45,RB CB,Medium,53,38,1994-02-19,Normal (185+),...,NaN,NaN,NaN,2013-09-20,€35K,30,22,€1K,2,82
2,60,18,31,55,ST,Medium,81,44,1997-01-10,Lean (170-185),...,NaN,NaN,NaN,2015-09-21,€70K,49,49,€2K,3,68
3,60,19,42,64,CM,Medium,64,50,1995-01-11,Lean (185+),...,NaN,NaN,NaN,2014-09-18,€25K,54,38,€2K,2,77
4,22,18,24,26,GK,Medium,52,14,1998-03-02,Normal (170-185),...,NaN,NaN,NaN,2016-09-20,€60K,26,6,€2K,3,80
5,57,17,45,44,CB,Medium,64,30,2000-01-06,Lean (170-185),...,NaN,NaN,NaN,2017-09-18,€60K,27,20,€6K,3,67
6,68,19,50,56,RB,Medium,66,54,1998-12-18,Normal (170-185),...,NaN,NaN,NaN,2018-08-21,€110K,33,27,€3K,3,70
7,63,17,33,59,ST,Medium,49,44,2001-07-22,Normal (185+),...,NaN,NaN,NaN,2019-09-19,€70K,33,50,€1K,2,77
8,65,19,57,56,CM,Medium,68,53,1999-09-02,Lean (170-185),...,NaN,NaN,NaN,2019-09-19,€110K,49,40,€4K,3,70
9,65,22,50,55,LWB,Medium,60,46,1998-06-16,Lean (170-185),...,NaN,NaN,NaN,2020-09-23,€100K,44,33,€4K,2,73

In [288]:
df['All_Positions'].unique()

array(['CB', 'RB CB', 'ST', 'CM', 'GK', 'RB', 'LWB', 'LB', 'CM CDM',
       'CB LWB', 'RB RWB', 'LM CAM', 'CAM RM RB', 'CAM LW', 'CB LB',
       'CM CAM', 'CAM', 'CB CM', 'ST CF', 'RM LM', 'CM RB', 'CAM RM',
       'LB CB', 'CB CDM', 'LM LW', 'CDM CM', 'CB RB', 'LM LWB', 'CB RWB',
       'CDM CB', 'RM', 'LB LWB', 'CAM CM', 'RWB', 'LM LB CM', 'CAM LM',
       'ST LM', 'CM CDM CB', 'CAM LM CM', 'CB LB CM', 'LWB LB', 'LW',
       'RM CM LM', 'LM', 'LB LM', 'LW RW', 'ST LM RM', 'CM CDM CAM',
       'CDM', 'CAM RM LM', 'CDM LM', 'LB CM', 'RB RM', 'RB CB RWB',
       'LM LB', 'CM RM', 'RB CM', 'CB CM CDM', 'CDM CB RB', 'RM CAM',
       'RB RWB RM', 'CM RM CAM', 'RW ST', 'CF CAM', 'LW LM CF',
       'RW RM CAM', 'RB LB', 'RB RM CM', 'RB RM LB', 'CF RW LW', 'ST CM',
       'RW LW', 'CM LM RM', 'LM LB RM', 'RM RB', 'LB CB LM', 'LM ST',
       'ST RW RM', 'RW', 'ST CAM', 'CM LM', 'LW ST', 'CDM RB', 'LM RM',
       'CDM LB', 'CM RM RB', 'ST LW RW', 'CAM ST RW', 'RM LM CAM',
       'CDM CAM CM', 'LW LM', 'CM CAM LM', 'LW ST RW', 'LB LM CM',
       'CM CAM ST', 'RM LM ST', 'CB RB LB', 'CAM RW', 'CAM CM LM',
       'LM CAM RM', 'CDM CM CB', 'RM ST', 'RW LW RM', 'LW RW CAM',
       'CAM LW RW', 'CM LM CAM', 'CM ST', 'LW CAM RW', 'CM CAM CDM',
       'RW CAM', 'ST RW', 'CDM CB CM LB', 'CAM CM ST', 'ST RM',
       'CDM CM CAM', 'LM RM ST', 'RM CF', 'CAM CM RW', 'CF ST',
       'RB LB CM', 'ST LW', 'CAM LWB', 'ST CF CAM', 'ST CF RM',
       'CB LB CDM', 'CAM CM RM', 'CF ST CAM LM', 'RW CF LW', 'CAM RW LW',
       'CM LW', 'CM CAM RM', 'LW CAM', 'RWB RB', 'ST RW LW', 'RM RW',
       'CAM ST LW', 'LB LWB CB', 'ST RM LM', 'CAM CM CDM', 'LM ST RM',
       'CB CDM CM', 'LM LW RM', 'RB LB CB', 'CAM RM RW', 'CF RW ST',
       'LM RM CAM', 'CF RM ST', 'CAM CM LW', 'LW LM ST', 'CDM CM RB',
       'LB LWB LM', 'CB CDM RB', 'RB LB RWB', 'CAM CF', 'CB LB RB',
       'CAM LW RW CM', 'LM CAM LW', 'LB LM ST', 'LW ST CAM', 'RM CM',
       'CAM RW ST LW', 'RB RWB CB', 'RW ST LW', 'CF', 'LW RW ST',
       'RW ST RM', 'LWB RWB CAM', 'RB CDM', 'LB CB LM LWB', 'CB RB CDM',
       'CAM RW CM', 'LB LM CB', 'CM CAM LW', 'RW RM', 'LB RB', 'LM RM RW',
       'CAM ST', 'LW LM RM', 'RM RWB', 'LW LM CAM', 'LM RW', 'RB RM RWB',
       'ST LW CAM', 'LW CF RW', 'ST LM LW', 'RW LW ST', 'LWB LB LM',
       'RW LW LM', 'CAM RM CM', 'LB CAM LWB', 'CM CDM RM', 'LM CF',
       'CM CAM RWB', 'LB RB RM', 'LB LM LWB', 'RM RB CM CAM', 'LB CB RB',
       'LM LB LWB', 'CAM CF ST', 'RB RWB LWB', 'RB RM CAM', 'RM LM CM',
       'CAM LM LW', 'RM CAM LM', 'CM CAM RW', 'LB CB CDM', 'LWB LM LB',
       'CAM ST LM', 'CAM CF CM', 'RW LW RM LM', 'CM RM LM', 'RW CM RB LW',
       'RB CB LB', 'LWB CB LB', 'CF RWB', 'LM CM CAM', 'RM CM CF',
       'LWB CB', 'LWB LM CM', 'LWB RWB', 'LM RM RB', 'RM RW LM',
       'LB CM RB', 'LM CM LB', 'LWB CM', 'RB CM CB', 'LW LM RW', 'RW RWB',
       'RWB RB LWB', 'ST CAM LM RM', 'CB CDM LB', 'CB LB LWB',
       'CM LM CDM', 'LM CM', 'LM CF RM CAM', 'CDM CM LB', 'CAM LM RM',
       'LM ST LB', 'CM LB CDM', 'RW RM LW', 'RM RW LW', 'CAM LM CF',
       'ST LW LM', 'LM RM LWB', 'RW CAM RM LM', 'CAM ST CF', 'LB CM CDM',
       'LM CF RM', 'RM ST CAM', 'RWB RB RM', 'LB LM RM', 'LW RW LM',
       'LM LW LB', 'RM CAM CM', 'RW CM RM', 'LB LWB RB', 'CAM CDM CM',
       'LWB RM', 'RB LB RM', 'LW LB', 'RW LW CAM', 'RB CB CDM',
       'CDM CB CM', 'LM RM LW', 'RM RWB RB', 'RWB RM RB', 'LM RM LW ST',
       'RB CDM CB', 'CF CAM ST', 'CAM CM CF', 'CF RM', 'CAM RM CM LM',
       'CM LM RM CAM', 'CM CDM LM', 'LW RW RM', 'LM LWB RW', 'RB RM CB',
       'RM LB', 'RB LM LB', 'CDM CB RB RWB', 'LM ST LW RM',
       'CAM LM RM CM', 'CM LM RM CDM', 'RM RB LM', 'CB CDM CM RB',
       'RM ST LM', 'LM CAM LW CM', 'CM CDM RB', 'LM CAM CM', 'RB LB CDM',
       'CF ST RM', 'CF ST LM', 'LB RB CDM', 'CM CDM LM LB',
       'RM CF LM CAM', 'ST CF LM', 'LM LW CAM', 'RB RWB LB', 'CAM LW CM',
       'RW RM ST', 'LB LWB RWB', 'RM LWB', 'LW RW CF', 'LM LW CF',
       'RM ST RW', 'CM CB', 'CF RW RM', 'ST LW RM', 'LW ST LM',
       'CF ST CAM', 'ST RM RWB', 'ST CF CAM LM', 'CDM CM CB RB',
       'CAM CM LM CDM', 'LB CB LWB', 'RM CAM RW', 'CDM LB CM',
       'CAM RM CF', 'RW RM LM', 'RM CAM LM CM', 'LM CM RM', 'LB RB LM',
       'RB LB RW', 'LM RW ST', 'CAM CF LW', 'CAM RM LW', 'LM LW ST',
       'RM LW LM RW', 'RWB RM LM', 'RM LM RWB', 'CAM RM ST LM', 'LM RB',
       'RM CAM ST LM', 'RM LM ST RW', 'CAM CDM LM', 'CF LM LW RM',
       'ST RM CAM', 'RW LW CF', 'CAM CF RM', 'RM RW CAM', 'RB CB CM',
       'ST CAM LM', 'LW LWB', 'LW ST CM', 'CM RB LB', 'LW CAM CM',
       'RM LM CF', 'CF LW', 'LW CF', 'CM LB', 'RM LM RW', 'CF LM RM',
       'CAM RM CM RW', 'CM RM LB', 'RM RW ST', 'LM ST RW RM',
       'RM CAM LM RW', 'RM RB RWB', 'CAM RW LM', 'RM CM RW', 'CB RB CM',
       'CAM LW LM', 'CM RM CDM', 'RW CAM CM', 'CF LM LW', 'CM CAM CF',
       'CF RM LM', 'CF LM', 'CAM RW RM LM', 'LW LM ST CAM', 'CAM CF LM',
       'LM LW RW', 'CAM ST CM', 'CM CDM RW', 'CM RW CDM', 'ST CM CAM',
       'CAM CM LM RM', 'CAM RW ST', 'CM RW', 'CAM RWB', 'CAM RB',
       'LB RB CM', 'ST LM CAM', 'RWB LWB', 'RB CM CDM', 'CAM LW LB',
       'CF CAM CM', 'CAM LM ST', 'RM RWB RW', 'RM RW RWB', 'CDM LB CB',
       'RB LM RM', 'LM RB RM', 'RM CM ST', 'LM RW LW', 'LWB RW RM',
       'CDM RB RWB', 'RB CM RWB', 'RM CM CAM', 'LWB LB RWB', 'RW ST LM',
       'LM CAM ST', 'RW ST CF', 'RM LW', 'CB RB RWB', 'RM LWB LB',
       'LWB LB CB', 'RM LM LB', 'CDM CM RM', 'CF LM ST', 'LW ST CF',
       'RM CF LM', 'LM CF LW', 'LB RB CB', 'LB CDM', 'CM CAM LWB',
       'CDM CAM RB', 'CF RW', 'RM LW CAM', 'LW CAM RM', 'CF LW RW',
       'CF LW LM', 'LM RM CF', 'RM CDM LM', 'RWB CB LWB', 'ST CAM LW',
       'CB RWB LWB', 'LM CM RM RB', 'LWB LW', 'LM LB LW', 'ST RW CF',
       'CAM CDM', 'CDM RB CM', 'RB LWB', 'RM CF CAM', 'RW RM CF',
       'RW CAM LW', 'CDM CAM', 'CB CM ST', 'LB RM', 'CM LM LB', 'LW RB',
       'CF ST RW CAM', 'RWB RB CB', 'RWB CB RB', 'CAM LW ST', 'CDM RM',
       'ST RM LW', 'LM ST LW', 'CM RM LB RB', 'CM RB ST', 'RB CDM CM',
       'LB RB RWB', 'RWB RM CM LB', 'ST CM RWB', 'RW LM RM', 'ST CM RB',
       'RB RW', 'RWB LWB LB RB', 'LW LB LM', 'CF RM RW', 'ST RM RWB LM',
       'CAM LM CM RM', 'CM LW RW', 'CF RW RM LW', 'LM CM RM CAM',
       'RM LM RW CF', 'RW CAM CF', 'CAM CM RW RM', 'CM CF', 'CF RM CAM',
       'RM CM LB', 'CAM RM LWB', 'CDM CB LB', 'RM LB LM', 'LM ST CAM',
       'CDM CB CM RB', 'CM CDM LM RM', 'LB LM RB', 'ST RWB RM',
       'ST CAM RM', 'LB LWB RB LM', 'RM ST RWB', 'ST CAM RW', 'CAM ST RM',
       'RWB RM', 'LWB LM', 'LW RM', 'LW CM', 'CAM RM LM CM',
       'LW ST LM RM', 'LW RM LM', 'CAM ST LM CF', 'RM RW CAM LM',
       'CDM LM CM LB', 'LM RM LB', 'CM CAM RM LM', 'RB RM CM CAM',
       'LM CM ST', 'CAM CM RWB', 'CB ST', 'CM CAM RM CDM', 'RM RWB LM ST',
       'LM CM CDM', 'RM RB LM ST', 'LM LW RW RM', 'LB RM CM',
       'RM RWB CAM ST', 'LW LM RW RM', 'CAM RM ST RWB', 'RW RM CAM LM',
       'CAM RW RM', 'CM CAM ST CDM', 'RW CF', 'CAM LW RW ST',
       'LB LM RB CM', 'RW RM LW LM', 'RM RB CF', 'ST RM RB', 'LM RB LB',
       'ST LM CF', 'CAM CF LM CM', 'LWB RWB LB', 'CDM LB CM CB',
       'CAM CM RM LM', 'RM CAM ST', 'RM CAM CDM CM', 'CDM CM LM',
       'CAM ST LW RW', 'LWB LB LM RM', 'RM CM CDM', 'LWB RWB LB LM',
       'CM CB CDM RB', 'LM RM RWB', 'RM RWB LM', 'CM CDM RB LM',
       'LM LW CM', 'RM LM RB', 'CM CAM LM CDM', 'CF RM LM LW',
       'CM CAM CDM CF', 'LM LWB RB', 'LM LWB RWB', 'LM RM RW ST', 'RB LM',
       'LW CAM LM', 'CDM LB CB CM', 'RB RWB LWB LM', 'LM CF ST',
       'CB CDM RB CM', 'CDM RB LB', 'LM CF LW RM', 'CDM CM CB LB',
       'LM RM LW RW', 'CAM RM ST', 'LM CAM RM CF', 'CF LW LM RM',
       'CAM LW CF', 'RB CM RW LW', 'LM LB ST', 'ST CAM LM CF',
       'LB RM CDM RB', 'CM RM CDM CAM', 'CAM LB', 'CDM LM CM',
       'CAM CM LM LW', 'LM RM CM', 'CM CDM RM CAM', 'RB CDM LB',
       'RM CM CDM CAM', 'LW RW RM LM', 'LM CF CAM', 'RWB RW',
       'CAM RWB CM', 'LWB CB RWB', 'LB CDM CB', 'RW CAM ST', 'CM LWB LB',
       'RWB CDM CB', 'CDM LB LM', 'CDM LWB CM', 'LW RWB LWB', 'LW RWB RW',
       'LM LW LWB', 'RW CM', 'LW LM LWB', 'ST CM LM', 'LWB LB LW',
       'LB LWB LW', 'LB LW', 'CDM CM RWB', 'CM LB RB', 'LW RW RWB',
       'LW CAM ST', 'CM CDM LB', 'LM LB CF', 'LM CF LB', 'CB LWB LB',
       'LW LWB RWB', 'RB RM LWB', 'CB RWB RB', 'ST LW CF', 'RM RW CF',
       'LW CF CAM', 'RM LM LW', 'CAM RW CF', 'RWB CM RB', 'RWB CB',
       'LM LWB LB', 'RWB LB RB', 'CM CF CDM', 'LB RM LM', 'RB LB LWB',
       'RB LWB RWB', 'RW CAM RM', 'LM LB RB', 'LW CF LM', 'RW CF LM',
       'RW LM CF'], dtype=object)

In [289]:
df.sort_values('Update_Date', ascending=False)['Update_Date'].unique()

array(['2023-10-04', '2023-09-22', '2023-09-08', '2023-08-01',
       '2023-07-05', '2023-06-05', '2023-05-05', '2023-04-05',
       '2023-03-03', '2023-02-07', '2023-01-13', '2022-12-06',
       '2022-11-16', '2022-10-07', '2022-09-01', '2022-08-09',
       '2022-07-06', '2022-06-01', '2022-05-03', '2022-04-13',
       '2022-03-01', '2022-02-01', '2022-01-11', '2021-12-01',
       '2021-11-05', '2021-10-01', '2021-09-23', '2021-09-02',
       '2021-08-04', '2021-07-05', '2021-06-11', '2021-05-18',
       '2021-04-12', '2021-03-04', '2021-02-05', '2021-01-06',
       '2020-12-04', '2020-11-04', '2020-10-01', '2020-09-23',
       '2020-09-02', '2020-08-06', '2020-07-02', '2020-06-03',
       '2020-05-06', '2020-04-02', '2020-03-03', '2020-02-01',
       '2020-01-02', '2019-12-04', '2019-11-06', '2019-10-01',
       '2019-09-19', '2019-08-15', '2019-07-04', '2019-06-03',
       '2019-05-02', '2019-04-01', '2019-03-04', '2019-02-04',
       '2019-01-03', '2018-12-03', '2018-11-01', '2018-10-01',
       '2018-09-20', '2018-09-06', '2018-08-21', '2018-08-03',
       '2018-07-19', '2018-06-04', '2018-05-03', '2018-04-03',
       '2018-03-01', '2018-02-01', '2018-01-02', '2017-12-04',
       '2017-11-02', '2017-10-02', '2017-09-18', '2017-09-04',
       '2017-08-03', '2017-07-03', '2017-06-01', '2017-05-02',
       '2017-04-03', '2017-03-02', '2017-02-02', '2017-01-03',
       '2016-12-01', '2016-11-03', '2016-10-06', '2016-09-20',
       '2016-09-01', '2016-08-04', '2016-07-07', '2016-06-02',
       '2016-05-05', '2016-04-07', '2016-03-03', '2016-02-04',
       '2016-01-07', '2015-12-03', '2015-11-06', '2015-10-02',
       '2015-09-21', '2015-09-01', '2015-08-07', '2015-07-03',
       '2015-06-05', '2015-05-01', '2015-04-01', '2015-03-06',
       '2015-02-06', '2015-01-02', '2014-12-05', '2014-11-07',
       '2014-10-02', '2014-09-18', '2014-09-05', '2014-08-01',
       '2014-07-18', '2014-06-06', '2014-05-02', '2014-04-04',
       '2014-03-07', '2014-02-07', '2014-01-03', '2013-12-06',
       '2013-11-01', '2013-10-04', '2013-09-20'], dtype=object)

In [290]:
#df = df[df['Update_Date'].str.startswith('2023')]
df = df[df['Update_Date'] == '2023-10-04']
df = df[df['Team1'] == 'Arsenal']
df = df[df['Team1_Position'] != 'RES']
df[['All_Positions', 'Player_Name', 'Age', 'Overall_Rating', 'Potential', 'Value', 'Team1_Position']]

,All_Positions,Player_Name,Age,Overall_Rating,Potential,Value,Team1_Position
66067,CB CDM,J. Kiwior,23,74,83,€8.5M,SUB
66068,RW LW,R. Nelson,23,74,81,€8.5M,SUB
66532,CDM CM,M. Elneny,30,75,75,€4.7M,SUB
66533,ST,E. Nketiah,24,75,80,€8.5M,ST
67041,CAM CM,Fábio Vieira,23,77,83,€16.5M,SUB
67979,LW CAM,E. Smith Rowe,22,78,84,€22.5M,SUB
67980,RB LB,T. Tomiyasu,24,78,83,€20M,SUB
68496,CB RB,J. Timber,22,79,86,€33M,SUB
68515,RB CB,B. White,25,80,83,€25.5M,RB
68516,LB,O. Zinchenko,26,80,82,€24M,LB
68517,GK,David Raya,27,80,82,€19.5M,SUB
68537,CF LW,L. Trossard,28,81,81,€26.5M,SUB
69034,CAM RW ST,K. Havertz,24,82,87,€46M,LCM
69044,CDM CM,Jorginho,31,83,83,€25.5M,SUB
69045,CB,W. Saliba,22,83,89,€53M,RCB
69057,LW LM,Gabriel Martinelli,22,84,88,€61.5M,LW
69058,GK,A. Ramsdale,25,84,87,€43M,GK
69059,CB,Gabriel,25,84,86,€47M,LCB
69060,ST RW,Gabriel Jesus,26,84,85,€50.5M,SUB
69070,CDM CM,D. Rice,24,85,87,€63M,CDM
69071,CDM CM,T. Partey,30,85,85,€45M,SUB
69076,RW RM,B. Saka,21,86,90,€99M,RW
69078,CAM CM,M. Ødegaard,24,87,90,€109M,RCM

In [291]:
df['All_Positions'].unique()

array(['CB CDM', 'RW LW', 'CDM CM', 'ST', 'CAM CM', 'LW CAM', 'RB LB',
       'CB RB', 'RB CB', 'LB', 'GK', 'CF LW', 'CAM RW ST', 'CB', 'LW LM',
       'ST RW', 'RW RM'], dtype=object)

In [292]:
df.isnull().any()

Acceleration     False
Age              False
Aggression       False
Agility          False
All_Positions    False
                 ...
Vision           False
Volleys          False
Wage             False
Weak_Foot        False
Weight           False
Length: 70, dtype: bool

In [293]:
print(np.unique(df['Preferred_Foot']))
print(np.unique(df['Body_Type']))

['Left' 'Right']
['Lean (170-185)' 'Lean (185+)' 'Normal (170-185)' 'Normal (185+)'
 'Unique']

In [294]:
df['Preferred_Foot'] = df['Preferred_Foot'].map({'Left': 0, 'Right': 1})

In [295]:
currencies = np.array([list(value)[0] for value in df.Value.tolist()])
print(np.unique(currencies, return_counts=True))

(array(['€'], dtype='<U1'), array([23], dtype=int64))

In [296]:
def value_to_num(col):
    if pd.isnull(col): return 0
    
    value = col.replace('€', '').replace('M', '').replace('K', '')
    
    if col[-1] == 'M': unit = 1e6
    elif col[-1] == 'K': unit = 1e3
    else: unit = 1
    
    return float(value)*unit

df.Value = df.Value.apply(value_to_num)
df.Wage = df.Wage.apply(value_to_num)

In [297]:
df[['Player_Name', 'Value', 'Wage']].head()

        Player_Name       Value     Wage
66067     J. Kiwior   8500000.0  56000.0
66068     R. Nelson   8500000.0  69000.0
66532     M. Elneny   4700000.0  71000.0
66533    E. Nketiah   8500000.0  74000.0
67041  Fábio Vieira  16500000.0  76000.0

In [298]:
attack_line = ["CB", "LS", "ST", "RS","LW", "LF", "CF", "RF", "RW"]

df.All_Positions.values[0].find(attack_line[0])

0

In [299]:
def get_optimized_team(df, max_budget, n_gk_line=0, n_attack_line=0, n_midfield_line=0, n_defense_line=0):


    gk_line = ["GK"]
    attack_line = ["LS", "ST", "RS", "LW", "LF", "CF", "RF", "RW"]
    midfield_line = ["LAM", "CAM", "RAM", "LM", "LCM", "CM", "RCM", "RM", "LDM", "CDM", "RDM"]
    defense_line = ["LB", "LCB", "CB", "RCB", "RB", "LWB", "RWB"]

    list_dicts = [  {},   {},   {},   {}]
    list_pos   = [gk_line, attack_line, midfield_line, defense_line]
    list_n     = [n_gk_line, n_attack_line, n_midfield_line, n_defense_line]

    players_ids = [str(i) for i in range(df.shape[0])]
    ratings = {i:rating for i, rating in zip(players_ids, df.Potential.values)}
    values = {i:value for i, value in zip(players_ids, df.Value.values)}
        
    for player_dict, player_pos, n_players in zip(list_dicts, list_pos, list_n):
        if n_players <= 0: continue
            
        for i, pos in zip(players_ids, df.All_Positions.values):

            for k in player_pos:

                player_dict.update({i:1} if pos.find(k) >= 0 else {i:0})
            
    players_vars = LpVariable.dicts(name="Players", indexs=players_ids, cat=LpBinary)

    prob = LpProblem(name="SoFIFA", sense=LpMaximize)
    
    # objective function
    prob += lpSum([ratings[i]*players_vars[i] for i in players_ids])
        
    # constraints
    prob += lpSum([players_vars[i] for i in players_ids]) == sum(list_n)
    prob += lpSum([values[i]*players_vars[i] for i in players_ids]) #<= max_budget
    for dict_player, n_players in zip(list_dicts, list_n):
        if n_players > 0:
            prob += lpSum([dict_player[i]*players_vars[i] for i in players_ids]) == n_players    

    prob.solve()
    
    idxs = np.array([int(v.name.split("_")[-1]) for v in prob.variables() if v.varValue == 1])
    mask_players = np.zeros(df.shape[0], dtype=np.bool_)
    mask_players[idxs] = True
    
    return prob.status, mask_players

In [300]:
status, mask_players = get_optimized_team(df, 1000000, n_gk_line=1, n_defense_line=4, n_midfield_line=6, n_attack_line=0)
print(LpStatus[status], mask_players.sum())

Infeasible 11

C:\Users\ben\AppData\Local\Temp\ipykernel_8988\3760556064.py:26: DeprecationWarning: 'indexs' is deprecated; use 'indices'.
  players_vars = LpVariable.dicts(name="Players", indexs=players_ids, cat=LpBinary)
d:\HocMay_BigData\my_env_1\Lib\site-packages\pulp\pulp.py:1704: UserWarning: Overwriting previously set objective.
  warnings.warn("Overwriting previously set objective.")

In [301]:
df.iloc[mask_players][['All_Positions', 'Player_Name', 'Age', 'Overall_Rating', 'Potential', 'Value']]

,All_Positions,Player_Name,Age,Overall_Rating,Potential,Value
68496,CB RB,J. Timber,22,79,86,33000000.0
69034,CAM RW ST,K. Havertz,24,82,87,46000000.0
69045,CB,W. Saliba,22,83,89,53000000.0
69057,LW LM,Gabriel Martinelli,22,84,88,61500000.0
69058,GK,A. Ramsdale,25,84,87,43000000.0
69059,CB,Gabriel,25,84,86,47000000.0
69060,ST RW,Gabriel Jesus,26,84,85,50500000.0
69070,CDM CM,D. Rice,24,85,87,63000000.0
69071,CDM CM,T. Partey,30,85,85,45000000.0
69076,RW RM,B. Saka,21,86,90,99000000.0
69078,CAM CM,M. Ødegaard,24,87,90,109000000.0