<h2>Format, sắp xếp attributes</h2>

<h5>Một số thao tác tiền xử lý cho các tập dữ liệu bên dưới:</h5>
<h5>- Đổi tên lại các attributes</h5>
<h5>- Sắp xếp lại thứ tự các attributes</h5>
<h5>- Định dạng theo kiểu dữ liệu DateTime với attribute có chứa ngày, tháng, năm</h5>
<h5>- Xóa một số attribute bị lặp</h5>

In [2]:
import pandas as pd

<h4>1. FBref tables</h4>

In [3]:
fbref_matchgoals = pd.read_csv("./fbref/fbref_MatchGoals.csv")
fbref_matchinfos = pd.read_csv("./fbref/fbref_MatchInfos.csv")
fbref_matchplayerstats = pd.read_csv("./fbref/fbref_MatchPlayerStats.csv")
fbref_matchsquad = pd.read_csv("./fbref/fbref_MatchSquad.csv")
fbref_matchstats = pd.read_csv("./fbref/fbref_MatchStats.csv")

FBref_MatchInfos table

In [4]:
fbref_matchinfos.head(2)

,attendance,away_team,fbrefMatchId,fbrefURL,home_team,leauge,match_date,match_date_str,match_week,officials,season,venue,venue_time
0,"20,067",West Ham United,db4d7668,https://fbref.com/en/matches/db4d7668/Watford-...,Watford,Premier League,2019-05-12,"Sunday May 12, 2019",Matchweek 38,"Chris Kavanagh (Referee), Dan Cook (AR1), Sian...",2018/2019,"Vicarage Road Stadium, Watford","Sunday May 12, 2019, 15:00 (venue time)"
1,NaN,Brighton & Hove Albion,d4360fcd,https://fbref.com/en/matches/d4360fcd/Burnley-...,Burnley,Premier League,2020-07-26,"Sunday July 26, 2020",Matchweek 38,"Jonathan Moss (Referee), Eddie Smart (AR1), Ri...",2019/2020,"Turf Moor, Burnley","Sunday July 26, 2020, 16:00 (venue time)"

In [5]:
fbref_matchinfos.columns = ['Attendance','Away_Team', 'Match_Id', 'Link', 'Home_Team', 'League', 
                            'Match_Date', 'Match_Date_Str', 'Match_Week', 'Officials', 'Season', 
                            'Stadium', 'Venue_Time']
fbref_matchinfos.head(2)

,Attendance,Away_Team,Match_Id,Link,Home_Team,League,Match_Date,Match_Date_Str,Match_Week,Officials,Season,Stadium,Venue_Time
0,"20,067",West Ham United,db4d7668,https://fbref.com/en/matches/db4d7668/Watford-...,Watford,Premier League,2019-05-12,"Sunday May 12, 2019",Matchweek 38,"Chris Kavanagh (Referee), Dan Cook (AR1), Sian...",2018/2019,"Vicarage Road Stadium, Watford","Sunday May 12, 2019, 15:00 (venue time)"
1,NaN,Brighton & Hove Albion,d4360fcd,https://fbref.com/en/matches/d4360fcd/Burnley-...,Burnley,Premier League,2020-07-26,"Sunday July 26, 2020",Matchweek 38,"Jonathan Moss (Referee), Eddie Smart (AR1), Ri...",2019/2020,"Turf Moor, Burnley","Sunday July 26, 2020, 16:00 (venue time)"

In [6]:
fbref_matchinfos = fbref_matchinfos.loc[:,['Match_Id', 'League', 'Season', 'Match_Week', 
                                              'Home_Team', 'Away_Team', 'Match_Date', 'Venue_Time',
                                              'Attendance', 'Stadium', 'Officials', 'Link']]
fbref_matchinfos.head(2)

,Match_Id,League,Season,Match_Week,Home_Team,Away_Team,Match_Date,Venue_Time,Attendance,Stadium,Officials,Link
0,db4d7668,Premier League,2018/2019,Matchweek 38,Watford,West Ham United,2019-05-12,"Sunday May 12, 2019, 15:00 (venue time)","20,067","Vicarage Road Stadium, Watford","Chris Kavanagh (Referee), Dan Cook (AR1), Sian...",https://fbref.com/en/matches/db4d7668/Watford-...
1,d4360fcd,Premier League,2019/2020,Matchweek 38,Burnley,Brighton & Hove Albion,2020-07-26,"Sunday July 26, 2020, 16:00 (venue time)",NaN,"Turf Moor, Burnley","Jonathan Moss (Referee), Eddie Smart (AR1), Ri...",https://fbref.com/en/matches/d4360fcd/Burnley-...

In [7]:
fbref_matchinfos['Match_Date'] = pd.to_datetime(fbref_matchinfos['Match_Date'])

fbref_matchinfos['Attendance'] = fbref_matchinfos['Attendance'].str.replace(',','')
fbref_matchinfos['Attendance'] = pd.to_numeric(fbref_matchinfos['Attendance'], errors='coerce').astype('Int64')

fbref_matchinfos.dtypes

Match_Id              object
League                object
Season                object
Match_Week            object
Home_Team             object
Away_Team             object
Match_Date    datetime64[ns]
Venue_Time            object
Attendance             Int64
Stadium               object
Officials             object
Link                  object
dtype: object

FBref_MatchSquad table

In [8]:
fbref_matchsquad.head(2)

  fbrefMatchId is_home_team is_sub  player_kitnum      player_name     team
0     db4d7668          Yes     No             26       Ben Foster  Watford
1     db4d7668          Yes     No              7  Gerard Deulofeu  Watford

In [9]:
fbref_matchsquad.columns = ['Match_Id','Is_Home_Team', 'Is_Sub', 'Player_Kitnum', 'Player_Name', 'Team']
fbref_matchsquad.head(2)

   Match_Id Is_Home_Team Is_Sub  Player_Kitnum      Player_Name     Team
0  db4d7668          Yes     No             26       Ben Foster  Watford
1  db4d7668          Yes     No              7  Gerard Deulofeu  Watford

In [10]:
fbref_matchsquad = fbref_matchsquad.loc[:,['Match_Id', 'Team', 'Is_Home_Team', 'Player_Name', 'Player_Kitnum', 
                                              'Is_Sub']]
fbref_matchsquad.head(2)

   Match_Id     Team Is_Home_Team      Player_Name  Player_Kitnum Is_Sub
0  db4d7668  Watford          Yes       Ben Foster             26     No
1  db4d7668  Watford          Yes  Gerard Deulofeu              7     No

In [11]:
#fbref_matchsquad = fbref_matchsquad.drop('Is_Home_Team', axis=1)
#fbref_matchsquad.head(2)

In [12]:
fbref_matchsquad.dtypes

Match_Id         object
Team             object
Is_Home_Team     object
Player_Name      object
Player_Kitnum     int64
Is_Sub           object
dtype: object

FBref_MatchGoals table

In [13]:
fbref_matchgoals.head(2)

  fbrefMatchId is_home_team minute      player_name     team type_of_goal
0     db4d7668          Yes    46   Gerard Deulofeu  Watford       Normal
1     db4d7668          Yes    48      José Holebas  Watford       Normal

In [14]:
fbref_matchgoals.columns = ['Match_Id','Is_Home_Team', 'Minute', 'Player_Name', 'Team', 'Type_Of_Goal']
fbref_matchgoals.head(2)

   Match_Id Is_Home_Team Minute      Player_Name     Team Type_Of_Goal
0  db4d7668          Yes    46   Gerard Deulofeu  Watford       Normal
1  db4d7668          Yes    48      José Holebas  Watford       Normal

In [15]:
fbref_matchgoals = fbref_matchgoals.loc[:,['Match_Id', 'Team', 'Minute', 'Player_Name', 
                                              'Type_Of_Goal', 'Is_Home_Team']]
fbref_matchgoals.head(2)

   Match_Id     Team Minute      Player_Name Type_Of_Goal Is_Home_Team
0  db4d7668  Watford    46   Gerard Deulofeu       Normal          Yes
1  db4d7668  Watford    48      José Holebas       Normal          Yes

In [16]:
#fbref_matchgoals['Minute'] = pd.to_numeric(fbref_matchgoals['Minute'], errors='coerce').astype('Int64')
#fbref_matchgoals.dtypes

FBref_MatchStats table

In [17]:
fbref_matchstats.head(2)

,Ast,Blocks,Carries,Carries_PrgC,CrdR,CrdY,GCA,Gls,Int,PK,...,offsides,possession,score,tackles,team,throw_ins,total_players_stats,touches,xAG,xG
0,0,4,295,21,1,1,1,1,4,0,...,4,49%,1,17,Watford,16,14,551,1.3,2.3
1,1,7,347,31,0,0,6,4,15,1,...,1,51%,4,15,West Ham United,12,14,621,0.9,3.1

In [18]:
fbref_matchstats.columns = ['Ast','Blocks', 'Carries', 'Carries_PrgC', 'CrdR', 'CrdY',
                            'GCA', 'Gls', 'Int', 'PK', 'PK_Att', 'Passes_Att', 'Passes_Cmp',
                            'Passes_Cmp_Percentage', 'Passes_PrgP', 'SCA', 'Sh', 'SoT',
                            'Take_Ons_Att', 'Take_Ons_Succ', 'Tkl', 'Touches', 'Aerials_Won',
                            'Captain', 'Clearances', 'Corners', 'Crosses', 'Match_Id',
                            'Formation', 'Fouls', 'Goal_Kicks', 'Interceptions', 'Is_Home_Team',
                            'Long_Balls', 'Manager', 'Minutes', 'npxG', 'Offsides', 'Possession',
                            'Score', 'Tackles', 'Team', 'Throw_Ins', 'Total_Players_Stats', 'Touches1',
                            'xAG', 'xG']
fbref_matchstats.head(2)

,Ast,Blocks,Carries,Carries_PrgC,CrdR,CrdY,GCA,Gls,Int,PK,...,Offsides,Possession,Score,Tackles,Team,Throw_Ins,Total_Players_Stats,Touches1,xAG,xG
0,0,4,295,21,1,1,1,1,4,0,...,4,49%,1,17,Watford,16,14,551,1.3,2.3
1,1,7,347,31,0,0,6,4,15,1,...,1,51%,4,15,West Ham United,12,14,621,0.9,3.1

In [19]:
fbref_matchstats = fbref_matchstats.loc[:,['Match_Id', 'Team', 'Is_Home_Team', 'Manager', 'Captain',
                                           'Formation', 'Possession', 
                                           'Fouls', 'Corners', 'Crosses', 'Aerials_Won',
                                           'Clearances', 'Offsides', 'Goal_Kicks', 'Throw_Ins', 'Long_Balls',
                                           'Total_Players_Stats', 'Minutes',
                                           'Gls', 'Ast', 'PK', 'PK_Att', 'Sh', 'SoT', 'CrdY', 'CrdR',
                                           'Touches', 'Tkl', 'Int', 'Blocks',
                                           'xG', 'npxG' ,'xAG', 'SCA', 'GCA',
                                           'Passes_Cmp', 'Passes_Att', 'Passes_Cmp_Percentage', 'Passes_PrgP',
                                           'Carries', 'Carries_PrgC', 'Take_Ons_Att', 'Take_Ons_Succ',
                                           'Touches1', 'Tackles' ,'Score', 'Interceptions']]
fbref_matchstats.head(2)

,Match_Id,Team,Is_Home_Team,Manager,Captain,Formation,Possession,Fouls,Corners,Crosses,...,Passes_Cmp_Percentage,Passes_PrgP,Carries,Carries_PrgC,Take_Ons_Att,Take_Ons_Succ,Touches1,Tackles,Score,Interceptions
0,db4d7668,Watford,Yes,Javi Gracia,Troy Deeney,4222,49%,10,7,22,...,77.3,43,295,21,8,5,551,17,1,4
1,db4d7668,West Ham United,No,Manuel Pellegrini,Mark Noble,4141,51%,10,2,9,...,86.6,32,347,31,28,23,621,15,4,15

In [20]:
fbref_matchstats = fbref_matchstats.drop(['Touches1','Tackles','Interceptions'], axis=1)
fbref_matchstats.head(2)

,Match_Id,Team,Is_Home_Team,Manager,Captain,Formation,Possession,Fouls,Corners,Crosses,...,GCA,Passes_Cmp,Passes_Att,Passes_Cmp_Percentage,Passes_PrgP,Carries,Carries_PrgC,Take_Ons_Att,Take_Ons_Succ,Score
0,db4d7668,Watford,Yes,Javi Gracia,Troy Deeney,4222,49%,10,7,22,...,1,361,467,77.3,43,295,21,8,5,1
1,db4d7668,West Ham United,No,Manuel Pellegrini,Mark Noble,4141,51%,10,2,9,...,6,426,492,86.6,32,347,31,28,23,4

In [21]:
fbref_matchstats['Possession'] = fbref_matchstats['Possession'].str.rstrip('%').astype('Int64')
fbref_matchstats.dtypes

Match_Id                  object
Team                      object
Is_Home_Team              object
Manager                   object
Captain                   object
Formation                  int64
Possession                 Int64
Fouls                      int64
Corners                    int64
Crosses                    int64
Aerials_Won                int64
Clearances                 int64
Offsides                   int64
Goal_Kicks                 int64
Throw_Ins                  int64
Long_Balls                 int64
Total_Players_Stats        int64
Minutes                    int64
Gls                        int64
Ast                        int64
PK                         int64
PK_Att                     int64
Sh                         int64
SoT                        int64
CrdY                       int64
CrdR                       int64
Touches                    int64
Tkl                        int64
Int                        int64
Blocks                     int64
xG                       float64
npxG                     float64
xAG                      float64
SCA                        int64
GCA                        int64
Passes_Cmp                 int64
Passes_Att                 int64
Passes_Cmp_Percentage    float64
Passes_PrgP                int64
Carries                    int64
Carries_PrgC               int64
Take_Ons_Att               int64
Take_Ons_Succ              int64
Score                      int64
dtype: object

FBref_MatchPlayerStats table

In [22]:
fbref_matchplayerstats.head(2)

,Ast,Blocks,Carries,Carries_PrgC,CrdR,CrdY,GCA,Gls,Int,PK,...,fbrefMatchId,minutes,nationality,npxG,player_kitnum,player_name,position,team,xAG,xG
0,0.0,1.0,20.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,db4d7668,90.0,ENG,0.8,9.0,Troy Deeney,FW,Watford,0.1,0.8
1,0.0,0.0,19.0,3.0,0.0,0.0,1.0,1.0,0.0,0.0,...,db4d7668,58.0,ESP,0.9,7.0,Gerard Deulofeu,FW,Watford,0.0,0.9

In [23]:
fbref_matchplayerstats.columns = ['Ast','Blocks', 'Carries', 'Carries_PrgC', 'CrdR', 'CrdY',
                            'GCA', 'Gls', 'Int', 'PK', 'PK_Att', 'Passes_Att', 'Passes_Cmp',
                            'Passes_Cmp_Percentage', 'Passes_PrgP', 'SCA', 'Sh', 'SoT',
                            'Take_Ons_Att', 'Take_Ons_Succ', 'Tkl', 'Touches', 'Age',
                            'Match_Id', 'Minutes', 'Nationality', 'npxG',
                            'Player_Kitnum', 'PLayer_Name', 'Position', 'Team',
                            'xAG', 'xG']
fbref_matchplayerstats.head(2)

,Ast,Blocks,Carries,Carries_PrgC,CrdR,CrdY,GCA,Gls,Int,PK,...,Match_Id,Minutes,Nationality,npxG,Player_Kitnum,PLayer_Name,Position,Team,xAG,xG
0,0.0,1.0,20.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,db4d7668,90.0,ENG,0.8,9.0,Troy Deeney,FW,Watford,0.1,0.8
1,0.0,0.0,19.0,3.0,0.0,0.0,1.0,1.0,0.0,0.0,...,db4d7668,58.0,ESP,0.9,7.0,Gerard Deulofeu,FW,Watford,0.0,0.9

In [24]:
fbref_matchplayerstats = fbref_matchplayerstats.loc[:,['Match_Id', 'Team', 'PLayer_Name', 'Player_Kitnum', 
                                                       'Nationality', 'Position', 'Age', 'Minutes',
                                                       'Gls', 'Ast', 'PK', 'PK_Att', 'Sh', 'SoT', 
                                                       'CrdY', 'CrdR',
                                                       'Touches', 'Tkl', 'Int', 'Blocks',
                                                       'xG', 'npxG' ,'xAG', 'SCA', 'GCA',
                                                       'Passes_Cmp', 'Passes_Att', 'Passes_Cmp_Percentage', 
                                                       'Passes_PrgP',
                                                       'Carries', 'Carries_PrgC', 
                                                       'Take_Ons_Att', 'Take_Ons_Succ']]
fbref_matchplayerstats.head(2)

,Match_Id,Team,PLayer_Name,Player_Kitnum,Nationality,Position,Age,Minutes,Gls,Ast,...,SCA,GCA,Passes_Cmp,Passes_Att,Passes_Cmp_Percentage,Passes_PrgP,Carries,Carries_PrgC,Take_Ons_Att,Take_Ons_Succ
0,db4d7668,Watford,Troy Deeney,9.0,ENG,FW,30-317,90.0,0.0,0.0,...,2.0,0.0,18.0,30.0,60.0,4.0,20.0,1.0,0.0,0.0
1,db4d7668,Watford,Gerard Deulofeu,7.0,ESP,FW,25-060,58.0,1.0,0.0,...,3.0,1.0,15.0,25.0,60.0,1.0,19.0,3.0,3.0,3.0

In [25]:
fbref_matchplayerstats['Player_Kitnum'] = pd.to_numeric(fbref_matchplayerstats['Player_Kitnum'], 
                                                        errors='coerce').astype('Int64')
fbref_matchplayerstats.dtypes

Match_Id                  object
Team                      object
PLayer_Name               object
Player_Kitnum              Int64
Nationality               object
Position                  object
Age                       object
Minutes                  float64
Gls                      float64
Ast                      float64
PK                       float64
PK_Att                   float64
Sh                       float64
SoT                      float64
CrdY                     float64
CrdR                     float64
Touches                  float64
Tkl                      float64
Int                      float64
Blocks                   float64
xG                       float64
npxG                     float64
xAG                      float64
SCA                      float64
GCA                      float64
Passes_Cmp               float64
Passes_Att               float64
Passes_Cmp_Percentage    float64
Passes_PrgP              float64
Carries                  float64
Carries_PrgC             float64
Take_Ons_Att             float64
Take_Ons_Succ            float64
dtype: object

<h4>2. Sofifa player tables</h4>

In [26]:
sofifa_players_infos = pd.read_csv("./sofifa/player_infos.csv")
sofifa_players_attr = pd.read_csv("./sofifa/player_attr.csv")

PLayers_infos table

In [27]:
sofifa_players_infos.head(2)

,birthday,height,nationality,player_fifaId,player_full_name,player_name,team,weight
0,1991-06-28,181,Belgium,192985,Kevin De Bruyne,K. De Bruyne,ManchesterCity,75
1,1996-09-17,192,Croatia,225263,Duje Ćaleta-Car,D. Ćaleta-Car,OlympiqueLyonnais,89

In [28]:
sofifa_players_infos.columns = ['Birthday', 'Height', 'Nationality', 'PLayer_Id',
                                'PLayer_Full_Name', 'Player_Name', 'Team_Club', 'Weight']
sofifa_players_infos.head(2)

,Birthday,Height,Nationality,PLayer_Id,PLayer_Full_Name,Player_Name,Team_Club,Weight
0,1991-06-28,181,Belgium,192985,Kevin De Bruyne,K. De Bruyne,ManchesterCity,75
1,1996-09-17,192,Croatia,225263,Duje Ćaleta-Car,D. Ćaleta-Car,OlympiqueLyonnais,89

In [29]:
sofifa_players_infos = sofifa_players_infos.loc[:,['PLayer_Id', 'Birthday', 'PLayer_Full_Name', 'Player_Name',
                                                   'Team_Club', 'Nationality', 'Height', 'Weight']]
sofifa_players_infos.head(2)

,PLayer_Id,Birthday,PLayer_Full_Name,Player_Name,Team_Club,Nationality,Height,Weight
0,192985,1991-06-28,Kevin De Bruyne,K. De Bruyne,ManchesterCity,Belgium,181,75
1,225263,1996-09-17,Duje Ćaleta-Car,D. Ćaleta-Car,OlympiqueLyonnais,Croatia,192,89

In [30]:
sofifa_players_infos['Birthday'] = pd.to_datetime(sofifa_players_infos['Birthday'])
sofifa_players_infos.dtypes

PLayer_Id                    int64
Birthday            datetime64[ns]
PLayer_Full_Name            object
Player_Name                 object
Team_Club                   object
Nationality                 object
Height                       int64
Weight                       int64
dtype: object

PLayers_attr table

In [31]:
sofifa_players_attr.head(2)

,acceleration,age,aggression,agility,all_positions,attacking_work_rate,balance,ball_control,birthday,body_type,...,team2_position,team2_rating,traits,update_date,value,vision,volleys,wage,weak_foot,weight
0,56,19,55,41,CB,Low,47,26,2004-01-08,Lean (170-185),...,NaN,NaN,NaN,2023-09-22,€100K,34,26,€2K,3,80
1,60,19,53,45,RB CB,Medium,53,38,1994-02-19,Normal (185+),...,NaN,NaN,NaN,2013-09-20,€35K,30,22,€1K,2,82

In [32]:
sofifa_players_attr.columns = sofifa_players_attr.columns.str.replace('_', ' ')
sofifa_players_attr.columns = sofifa_players_attr.columns.str.title()
sofifa_players_attr.columns = sofifa_players_attr.columns.str.replace(' ', '_')
sofifa_players_attr.head(2)

,Acceleration,Age,Aggression,Agility,All_Positions,Attacking_Work_Rate,Balance,Ball_Control,Birthday,Body_Type,...,Team2_Position,Team2_Rating,Traits,Update_Date,Value,Vision,Volleys,Wage,Weak_Foot,Weight
0,56,19,55,41,CB,Low,47,26,2004-01-08,Lean (170-185),...,NaN,NaN,NaN,2023-09-22,€100K,34,26,€2K,3,80
1,60,19,53,45,RB CB,Medium,53,38,1994-02-19,Normal (185+),...,NaN,NaN,NaN,2013-09-20,€35K,30,22,€1K,2,82

In [33]:
sofifa_players_attr['Birthday'] = pd.to_datetime(sofifa_players_attr['Birthday'])
sofifa_players_attr['Team1_Joined'] = pd.to_datetime(sofifa_players_attr['Team1_Joined'])
sofifa_players_attr['Update_Date'] = pd.to_datetime(sofifa_players_attr['Update_Date'])

sofifa_players_attr.dtypes

Acceleration      int64
Age               int64
Aggression        int64
Agility           int64
All_Positions    object
                  ...
Vision            int64
Volleys           int64
Wage             object
Weak_Foot         int64
Weight            int64
Length: 70, dtype: object

<h5>Xuất ra kết quả dưới dạng các file CSV trong thư mục ./fbref_modified và ./sofifa_modified</h5>

In [34]:
fbref_matchinfos.to_csv('./fbref_modified/fbref_matchinfos_modified.csv', index=False)
fbref_matchsquad.to_csv('./fbref_modified/fbref_matchsquad_modified.csv', index=False)
fbref_matchgoals.to_csv('./fbref_modified/fbref_matchgoals_modified.csv', index=False)
fbref_matchstats.to_csv('./fbref_modified/fbref_matchstats_modified.csv', index=False)
fbref_matchplayerstats.to_csv('./fbref_modified/fbref_matchplayerstats_modified.csv', index=False)

sofifa_players_infos.to_csv('./sofifa_modified/sofifa_players_infos_modified.csv', index=False)
sofifa_players_attr.to_csv('./sofifa_modified/sofifa_players_attr_modified.csv', index=False)